<section class="dashboard__movements-container">
  <h6 class="dashboard__subtitle-section">MOVIMIENTOS</h6>
     
   <div class="table-responsive bg-light mt-3">
       <table class="table table-borderless">
           <thead class="table-light">
             <tr>
               <th>Fecha</th>
               <th>Descripción</th>
               <th>Monto</th>
             </tr>
           </thead>
           <tbody *ngIf="movements && !isLoading">
             <tr *ngFor="let movement of movements.movimientos">
               <td>{{movement.fecha }}</td>
               <td>{{movement.descripcion}}</td>
               <td [class.text-success]="movement.tipo =='abono'"
                   [class.text-danger]="movement.tipo =='cargo'">
                <b>{{movement.monto}}</b>
              </td>
             </tr>
           </tbody>
          </table>
          <div class="text-center mt-4 mb-4" *ngIf="isLoading">
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden"></span>
            </div>
          </div>
   </div>
</section>