<section class="dashboard__movements-container">
  <h6 class="dashboard__subtitle-section">MOVIMIENTOS</h6>   
   <div class="table-responsive bg-light mt-3">
       <table class="table table-borderless">
           <thead class="table-light">
             <tr>
               <th>Fecha</th>
               <th>Descripción</th>
               <th>Monto</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>00/00/0000</td>
               <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum a tenetur modi, nemo quaerat sequi velit repudiandae quidem totam.</td>
               <td><b>$800.00</b></td>
             </tr>
             <tr>
               <td>00/00/0000</td>
               <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum a tenetur modi, nemo quaerat sequi velit repudiandae quidem totam.</td>
               <td class="text-danger"><b>$800.00</b></td>
             </tr>
             <tr>
               <td>00/00/0000</td>
               <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum a tenetur modi, nemo quaerat sequi velit repudiandae quidem totam.</td>
               <td  class="text-success"><b>$800.00</b></td>
             </tr>
             <tr>
               <td>00/00/0000</td>
               <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum a tenetur modi, nemo quaerat sequi velit repudiandae quidem totam.</td>
               <td><b>$800.00</b></td>
             </tr>
             <tr>
               <td>00/00/0000</td>
               <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum a tenetur modi, nemo quaerat sequi velit repudiandae quidem totam.</td>
               <td><b>$800.00</b></td>
             </tr>
           </tbody>
       </table>
   </div>
</section>