
<section class="dashboard__accounts-container">
    <h6 class="dashboard__subtitle-section">MIS CUENTAS</h6>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card dashboard__credit-card ">
                <div class="card-head">
                    <div class="d-flex justify-content-between m-3 mb-0 mt-1">
                        <span>Activa</span>
                        <span>$1,500.00</span>
                    </div>
                </div>
                <div class="card-body pt-1">
                    <h5 >5439-2401-1234-1234</h5>
                    <h6 class="mt-0  mb-0">Pablo Santiago Lopez</h6>
                    <p>Titular</p>
                    <div class="d-flex justify-content-end">
                        <img src="../../assets/mastercard.png" 
                             alt="mastercard" 
                             width="30px" >
                    </div>
                </div>
            </div>
            <div class="card  mt-3 dashboard__credit-card-desactive">
                <div class="card-head">
                    <div class="d-flex justify-content-between m-3 mb-0 mt-1">
                        <span>Activa</span>
                        <span>$1,500.00</span>
                    </div>
                </div>
                <div class="card-body pt-1">
                    <h5>5439-2401-1234-1234</h5>
                    <h6 class="mt-0 mb-0">Pablo Santiago Lopez</h6>
                    <p>Titular</p>
                    <div class="d-flex justify-content-end">
                        <img src="../../assets/mastercard.png" alt="mastercard" width="30px" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn mt-2 dashboard__btn-add-card  btn-block text-uppercase">
        <div class="d-flex justify-content-between m-2">
            Agregar tarjeta
            <span>+</span>
        </div>
    </button>
</section>

