
  <footer class="footer__container">
    <div class="container pt-3 pb-3">
        <div class="d-flex justify-content-between">
            <div>
                <h5 class="m-0">Bankapp</h5>
                <h6 class="m-0">Powered by Conecta Mexico</h6>
                <p class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In explicabo perspiciatis <br>
                     ut inventore velit laboriosa.</p>
            </div>
            <h4 class="align-self-center footer__logo-text">Bankapp</h4>
        </div>
    </div>
  </footer>